<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookit</title>
    <link rel="stylesheet" href="/css/header.css?v=<%= Date.now() %>">
</head>
<body>
    <%- include('./partials/header') %>

</body>
</html>
